<div class="sign-up-form">
  <form
    [formGroup]="signUpForm"
    class="sign-up-form__container"
    (submit)="onSubmit()"
  >
    <h1>Sign up:</h1>
    <mat-form-field
      id="firstName"
      class="sign-up-form__field"
      appearance="outline"
    >
      <mat-label> First name </mat-label>
      <input matInput [formControl]="firstName" />
      @if (firstName.touched && firstName.invalid) {
        <mat-error>
          @if (firstName.errors?.['required']) {
            <span>This field is mandatory.</span>
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field
      id="lastName"
      class="sign-up-form__field"
      appearance="outline"
    >
      <mat-label> Last name </mat-label>
      <input matInput [formControl]="lastName" />
      @if (lastName.touched && lastName.invalid) {
        <mat-error>
          @if (lastName.errors?.['required']) {
            <span>This field is mandatory.</span>
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field id="email" class="sign-up-form__field" appearance="outline">
      <mat-label> E-mail </mat-label>
      <input matInput [formControl]="email" required />
      @if (email.touched && email.invalid) {
        <mat-error>
          @if (email.errors?.['required']) {
            <span>This field is mandatory.</span>
          }
          @if (email.errors?.['emailValidation']) {
            <span>Email is incorrect.</span>
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field
      id="password"
      class="sign-up-form__field"
      appearance="outline"
    >
      <mat-label> Password </mat-label>
      <input matInput [formControl]="password" type="text" />
      @if (password.touched && password.invalid) {
        <mat-error>
          @if (password.errors?.['required']) {
            <span class="sign-up-form__field-error-message">
              This field is mandatory.
            </span>
          }
          @if (password.errors?.['minlength']) {
            <span class="sign-up-form__field-error-message">
              Minimum of 8 characters.
            </span>
          }
          @if (password.errors?.['pattern']) {
            <span class="sign-up-form__field-error-message">
              Password requires upper and lower case characters.
            </span>
          }
          @if (password.errors?.['passwordChecks']) {
            <span class="sign-up-form__field-error-message">
              Password contains parts of your name.
            </span>
          }
        </mat-error>
      }
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!signUpForm.valid"
    >
      Sign up
      @if (isLoadingSignal()) {
        <mat-icon>
          <mat-spinner color="accent" diameter="20"> </mat-spinner>
        </mat-icon>
      }
    </button>
  </form>
</div>
